.js-hamburger {
    &_button {
        display: block;
        // display: none;
        font-size: 7rem;
        @media (min-width: 1181px){
        }
    }
    &_background {
        width: 80%;
        height: 100vh;
        background: $background;
        &::after {
            background: $main;
        }
    }
}