.js-hamburger {
    &_open {
        display: block;
        // display: none;
        font-size: 7rem;
        @media (min-width: 1181px){
            // display: none;
        }
    }
    &_item {
        display: none;
    }
    &_back {
        display: none;
    }
    &_close {
        display: none;
    }
}