.p-hamburgerMenu {
    // TODO:ハンバーガーメニュー
    &_button {
        display: block;
        // display: none;
        font-size: 7rem;
        @media (min-width: 1181px){
        }
    }
    &_background {
        position: fixed;
        top: 0;
        right: 0;
        // width: 80vw;
        width: 80vw;
        height: 100vh;
        background-color: $background;
        z-index: 19;
        @media (min-width: 1181px) {
            display: none;
        }
        &::after {
            @extend .p-hamburgerMenu_background;
            content: '';
            left: 0;
            width: 20vw;
            background: $green;
            opacity: 50%;
        }
    }
}