.p-hamburgerMenu {
    // TODO:ハンバーガーメニュー
    // TODO: スクロール可、背景固定
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
    background-color: $background;
    z-index: 20;
    // z-index: 19;
    @media (min-width: 1181px) {
        display: none;
    }
    &_back {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: $green;
        opacity: 0.5;
        z-index: 19;
    }
    &_inner {
        display: grid;
        grid-template-areas:
            "item sub"
            "button button";
        gap: 40px 0;
        // width: 50%;
        width: 50%;
        margin: auto;
    }
    &_list {
        display: flex;
    }
    &_item {
        grid-area: "item";
        font-size: 3.2rem;
        font-weight: bold;
        &-sub {
            grid-area: "sub";
            text-transform: capitalize;
            font-size: 2.4rem;
            color: $gray;
        }
        &-button {
            grid-area: "button";
            padding: 16px 32px;
            border-radius: 10rem;
            background-color: $main;
            line-height: 40px;
            font-size: 3.2rem;
            color: $white;
            transition: all .3s;
            &:hover {
                opacity: .7;
            }
        }
    }
    &_background {
        &::after {
            @extend .p-hamburgerMenu_background;
            content: '';
            left: 0;
            width: 20vw;
            background: $green;
            opacity: 50%;
        }
    }
}