.c-button {
    position: relative;
    padding: 8px 40px 8px 16px;
    border: 1px solid $green;
    border-radius: 30px;
    box-shadow: 0px 10px 15px #3333331A;
    z-index: 100;
    &::before {
        content: "";
        position: absolute;
        top: 16px;
        right: 10px;
        width: 32px;
        height: 1px;
        background: $green;
    }
    &::after{
        content: "";
        position: absolute;
        top: 11px;
        right: 0px;
        border: 6px solid transparent;
        border-left: 16px solid $green;
        border-bottom: 0;
    }
    &-small {
        @extend .c-button;
        width: 149px;
    }
    &-large {
        @extend .c-button;
        width: 240px;
    }
}