.c-menu {
    display: flex;
    align-items: center;
    &_inner {
        display: flex;
        align-items: center;
    }
    &_list {
        &:last-child {
            margin-left: 24px;
        }
    }
    &_item {
        position: relative;
        display: flex;
        padding: 0 16px;
        font-size: 1.6rem;
        letter-spacing: 0.32px;
        color: $green;
        &-button {
            display: flex;
            padding: 0 16px;
            border-radius: 24px;
            background-color: $main;
            line-height: 40px;
            font-size: 1.6rem;
            color: $white;
            transition: all .3s;
            &:hover {
                opacity: .7;
            }
        }
    }
}